<section class="width-45" data-ng-class="$state.current.name !== 'program-admissions' && $state.current.name !== 'specialty-required-admissions' ? 'margin-top-medium' : ''">
  <h2>Application</h2>
  <p>Applications are submitted through the NursingCAS application portal. There is a separate application for each program option.</p>
  <a class="button">Apply with NursingCAS</a>
  <p class="red">If application is not open, hide apply button and display "Application Not Open" message. Have link to CAS or Application portal available at all times?</p>
</section>