<section class="width-45">
  <h2>Important Dates and Deadlines</h2>
  <table>
    <tr>
      <th scope="row">Term</th>
      <td>Spring 2018</td>
    </tr>
    <tr>
      <th scope="row">Application Open</th>
      <td>
        11/5/1955<br>
        <span class="red">'App Open'</span><br>
        <span class="red">'App Closed'</span>
      </td>
    </tr>
    <tr>
      <th scope="row">Application Close</th>
      <td>11/5/1955</td>
    </tr>
    <tr>
      <th scope="row">Interviews</th>
      <td>11/5/1955</td>
    </tr>
    <tr>
      <th scope="row">Final Decision</th>
      <td>11/5/1955</td>
    </tr>
    <tr>
      <th scope="row">Program Start</th>
      <td>11/5/1955</td>
    </tr>
  </table>
</section>