<div class="custom-accordion" data-toggle-speed="fast" data-toggle-easing="linear" data-slide-up-speed="fast" data-slide-up-easing="linear">
  
  <h2>FAQs</h2>
  
  <section>
    <div class="accordion-header">
      <h3>Question 1</h3>
    </div>
    <div class="accordion-body">
      <p>Taciti suscipit pharetra gravida sollicitudin faucibus vulputate tristique a feugiat non, dapibus. Lectus cras aliquam felis. Ligula nonummy arcu praesent montes interdum, luctus interdum nec condimentum potenti consectetuer pretium congue duis parturient turpis conubia. Sollicitudin augue. Consectetuer iaculis. Euismod. Proin.</p>
    </div>
  </section>
  
  <section>
    <div class="accordion-header">
      <h3>Question 2</h3>
    </div>
    <div class="accordion-body">
      <p>Taciti suscipit pharetra gravida sollicitudin faucibus vulputate tristique a feugiat non, dapibus. Lectus cras aliquam felis. Ligula nonummy arcu praesent montes interdum, luctus interdum nec condimentum potenti consectetuer pretium congue duis parturient turpis conubia. Sollicitudin augue. Consectetuer iaculis. Euismod. Proin.</p>
    </div>
  </section>
  
  <section>
    <div class="accordion-header">
      <h3>Question 3</h3>
    </div>
    <div class="accordion-body">
      <p>Taciti suscipit pharetra gravida sollicitudin faucibus vulputate tristique a feugiat non, dapibus. Lectus cras aliquam felis. Ligula nonummy arcu praesent montes interdum, luctus interdum nec condimentum potenti consectetuer pretium congue duis parturient turpis conubia. Sollicitudin augue. Consectetuer iaculis. Euismod. Proin.</p>
    </div>
  </section>
  
  <section>
    <div class="accordion-header">
      <h3>Question 4</h3>
    </div>
    <div class="accordion-body">
      <p>Taciti suscipit pharetra gravida sollicitudin faucibus vulputate tristique a feugiat non, dapibus. Lectus cras aliquam felis. Ligula nonummy arcu praesent montes interdum, luctus interdum nec condimentum potenti consectetuer pretium congue duis parturient turpis conubia. Sollicitudin augue. Consectetuer iaculis. Euismod. Proin.</p>
    </div>
  </section>
  
  <section>
    <div class="accordion-header">
      <h3>Question 5</h3>
    </div>
    <div class="accordion-body">
      <p>Taciti suscipit pharetra gravida sollicitudin faucibus vulputate tristique a feugiat non, dapibus. Lectus cras aliquam felis. Ligula nonummy arcu praesent montes interdum, luctus interdum nec condimentum potenti consectetuer pretium congue duis parturient turpis conubia. Sollicitudin augue. Consectetuer iaculis. Euismod. Proin.</p>
    </div>
  </section>
  
</div>