<section class="flex-container between flex-wrap-wrap">
  
  <div class="full-width">
    <h2>Tuition &amp; Expenses</h2>
    <p><strong>Data Source:</strong> <a href="http://www.ucdenver.edu/anschutz/studentresources/StudentBilling/TuitionFees/Pages/CON-TuitionFees.aspx" target="_blank">Bursar's Office</a></p>
  </div>
  
  <section class="width-45">
    
    <h3>Tuition</h3>
  
    <table>
      <thead>
        <tr>
          <th scope="col">CO Residency Status</th>
          <th scope="col">
            Cost 
            <span data-ng-if="selectedProgram.level === 'undergraduate'">(total tuition)</span>
            <span data-ng-if="selectedProgram.level !== 'undergraduate'">(per credit hour)</span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="width-50">Non-Resident</td>
          <td class="width-50">
            <span data-ng-if="selectedProgram.tuition.nonResident !== 0">{{ selectedProgram.tuition.nonResident | currency}}</span>
            <span data-ng-if="selectedProgram.tuition.nonResident === 0">N/A</span>
          </td>
        </tr>
        <tr>
          <td class="width-50">Resident</td>
          <td class="width-50">
            <span data-ng-if="selectedProgram.tuition.resident !== 0">{{ selectedProgram.tuition.resident | currency }}</span>
            <span data-ng-if="selectedProgram.tuition.resident === 0">N/A</span>
          </td>
        </tr>
      </tbody>
    </table>
  
  </section>
  
  <section class="width-45">
    
    <h3>Other Fees and Expenses</h3>
    
    <table>
      <thead>
        <tr>
          <th scope="col">Fee</th>
          <th scope="col">Cost</th>
          <th scope="col">Frequency</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Academic Support Services</td>
          <td>$64</td>
          <td>per term</td>
        </tr>
        <tr>
          <td>Activity Fee</td>
          <td>$20</td>
          <td>per year</td>
        </tr>
        <tr>
          <td>Deferred Payment Plan Charge</td>
          <td>$35</td>
          <td>per term</td>
        </tr>
        <tr>
          <td>Dental Plan (for students on tuition remission)</td>
          <td>$275</td>
          <td>per year</td>
        </tr>
        <tr>
          <td>Health Insurance (if not on own carrier)</td>
          <td>$3,949</td>
          <td>per year</td>
        </tr>
        <tr>
          <td>Online Lab Fee</td>
          <td>$50</td>
          <td>per course, per term</td>
        </tr>
        <tr>
          <td>International Student Fee</td>
          <td>$150</td>
          <td>per term</td>
        </tr>
        <tr>
          <td>Internationally Sponsored Student Charge</td>
          <td>$100</td>
          <td>per term</td>
        </tr>
        <tr>
          <td>Late Registration Penalty</td>
          <td>$60</td>
          <td>per term</td>
        </tr>
        <tr>
          <td>Matriculation Fee</td>
          <td>$140</td>
          <td>one-time charge for new students</td>
        </tr>
        <tr>
          <td>Online Programs</td>
          <td>$100</td>
          <td>per term, per online course</td>
        </tr>        
        <tr>
          <td>Returned Check Charge</td>
          <td>$20</td>
          <td>per returned check</td>
        </tr>
        <tr>
          <td>RTD College Pass</td>
          <td>$53.35</td>
          <td>per term</td>
        </tr>
        <tr>
          <td>Distance Education Fee</td>
          <td>$100</td>
          <td>per term</td>
        </tr>
        <tr data-ng-if="selectedProgram.name === 'Masters Program'">
          <td>Masters Prgoram Fee</td>
          <td>$26.57</td>
          <td>per term</td>
        </tr>
        <tr data-ng-if="selectedProgram.level === 'undergraduate'">
          <td>Undergraduate Program Fee</td>
          <td>$5.11</td>
          <td>per term</td>
        </tr>
      </tbody>
    </table>
    
  </section>
  
  
</section>
