<section>
  <h2>Additional Requirements</h2>
  
  <div class="custom-accordion" data-toggle-speed="fast" data-toggle-easing="linear" data-slide-up-speed="fast" data-slide-up-easing="linear">
    <section>
      <div class="accordion-header">
        <h3>Current Nursing License</h3>
      </div>
      <div class="accordion-body">
        <p>Hendrerit lacinia euismod est iaculis imperdiet ultricies senectus urna. Dolor accumsan dictumst dolor torquent. Fames commodo. Sagittis justo habitant pretium quisque cubilia porttitor feugiat imperdiet non eros, massa aliquet parturient, pharetra tortor tortor volutpat Tristique dolor. Vitae. Cursus amet viverra arcu dui massa torquent rhoncus congue fringilla, urna torquent gravida eleifend imperdiet adipiscing sed. Egestas, ac odio posuere pharetra. Class integer neque dignissim placerat molestie quis cras congue montes. Litora senectus Luctus ligula imperdiet lacus diam habitasse. Aliquam. Bibendum felis sed quis quam, fusce sociosqu nunc. Justo.</p>
      </div>
    </section>
    
    <section>
      <div class="accordion-header">
        <h3>English Language Proficiency</h3>
      </div>
      <div class="accordion-body">
        <p>Hendrerit lacinia euismod est iaculis imperdiet ultricies senectus urna. Dolor accumsan dictumst dolor torquent. Fames commodo. Sagittis justo habitant pretium quisque cubilia porttitor feugiat imperdiet non eros, massa aliquet parturient, pharetra tortor tortor volutpat Tristique dolor. Vitae. Cursus amet viverra arcu dui massa torquent rhoncus congue fringilla, urna torquent gravida eleifend imperdiet adipiscing sed. Egestas, ac odio posuere pharetra. Class integer neque dignissim placerat molestie quis cras congue montes. Litora senectus Luctus ligula imperdiet lacus diam habitasse. Aliquam. Bibendum felis sed quis quam, fusce sociosqu nunc. Justo.</p>
      </div>
    </section>

    <section>
      <div class="accordion-header">
        <h3>Transfer Students</h3>
      </div>
      <div class="accordion-body">
        <p>Hendrerit lacinia euismod est iaculis imperdiet ultricies senectus urna. Dolor accumsan dictumst dolor torquent. Fames commodo. Sagittis justo habitant pretium quisque cubilia porttitor feugiat imperdiet non eros, massa aliquet parturient, pharetra tortor tortor volutpat Tristique dolor. Vitae. Cursus amet viverra arcu dui massa torquent rhoncus congue fringilla, urna torquent gravida eleifend imperdiet adipiscing sed. Egestas, ac odio posuere pharetra. Class integer neque dignissim placerat molestie quis cras congue montes. Litora senectus Luctus ligula imperdiet lacus diam habitasse. Aliquam. Bibendum felis sed quis quam, fusce sociosqu nunc. Justo.</p>
      </div>
    </section>

    <section>
      <div class="accordion-header">
        <h3>International Students</h3>
      </div>
      <div class="accordion-body">
        <p>Hendrerit lacinia euismod est iaculis imperdiet ultricies senectus urna. Dolor accumsan dictumst dolor torquent. Fames commodo. Sagittis justo habitant pretium quisque cubilia porttitor feugiat imperdiet non eros, massa aliquet parturient, pharetra tortor tortor volutpat Tristique dolor. Vitae. Cursus amet viverra arcu dui massa torquent rhoncus congue fringilla, urna torquent gravida eleifend imperdiet adipiscing sed. Egestas, ac odio posuere pharetra. Class integer neque dignissim placerat molestie quis cras congue montes. Litora senectus Luctus ligula imperdiet lacus diam habitasse. Aliquam. Bibendum felis sed quis quam, fusce sociosqu nunc. Justo.</p>
      </div>
    </section>
  </div>
</section>