/****************************************
          BASE STYLES
****************************************/

* {
  border-collapse: collapse;
  border-radius: 4px;
}

html {
  overflow-y: scroll; 
}

body {
  max-width: 960px;
  margin: 0 auto;
}

input[type="radio"] {
  display: none;
}

label.button {
  margin-right: 10px;
}

.alumni-snapshot>div {
  border: 1px solid #ddd;
  margin: 0px 15px;
  padding: 1.25rem;
}

.alumni-snapshot img {
  float: left;
  margin-right: 20px;
  margin-bottom: 40px;
}

.black-background {
  background: #fff;
}

.breadcrumb {
  display: block;
  font-size: .85rem;
  margin-top: 60px;
}

.button {
  background: black;
  color: #fff;
  font-weight: bold;
  padding: 5px;
  text-decoration: none;
}

.button:hover {
  background: #cfb77c;
  cursor: pointer;
}

.careers>div {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 550px;
  
}

.dynamic-container {
  min-height: 400px;
}

.gold-background {
  background: #cfb77c;
}

.main-page-link {
  margin-bottom: 1rem;
  width: 100%;
}

.next-steps>ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
}

.next-steps a {
  background: black;
  color: white;
  display: inline-block;
  font-weight: bold;
  padding: 1.25rem;
  text-decoration: none;
}

.next-steps a:hover {
  background: #cfb77c;
}

.program-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 1rem;
}

.program-cards a {
  background: whitesmoke;
  border: 2px solid #ddd;
  margin: 0 1.5rem 1.5rem 0;
  padding: .5rem;
  text-decoration: none;
  width: 20%;
}

.program-cards a:hover {
  border: 2px solid #cfb77c;
}

.program-tabs li:first-child,
.program-tabs li:nth-child(2) {
  margin-right: 5px;
}

.red {
  color: red;
}

.side-nav li {
  padding: .5rem 0;
}

.side-nav span {
  font-weight: bold;
}

.side-nav ul {
  padding-left: .5rem;
}

.yellow {
  background: yellow;
}



/****************************************
        PADDING AND MARGINS
****************************************/

.small-margin-bottom {
  margin-bottom: 1rem;
}

.medium-margin-bottom {
  margin-bottom: 1.5rem;
}

.large-margin-bottom {
  margin-bottom: 2rem; 
}



/****************************************
          MAIN NAVIGATION
****************************************/

nav {
  background: #fff;
  position: fixed;
  top: 0;
}

nav li {
  list-style-type: none;
}

nav ul {
  padding: 0;
}

nav>ul>li {
  display: inline-block;
  z-index: 100;
}

nav>ul>li:first-child a {
  color: black;
  text-decoration: none;
}

nav>ul>li>a {
  padding: 1rem;
}

nav>ul>li:hover>a {
  background: whitesmoke;
}

nav>ul>li.active>a {
  background: whitesmoke;
}

nav>ul>li>ul {
  display: none;
}

nav>ul>li.active>.submenu {
  display: block;
}

nav>ul>li.active>.submenu.mega {
  display: flex;
  flex-wrap: wrap;
}

.submenu {
  background: whitesmoke;
  min-width: 250px;
  padding: 1rem;
  position: absolute;
  z-index: 1000;  
}

.submenu-trigger:hover {
  cursor: pointer;  
}

.submenu.mega {
  justify-content: space-between;
  left: 0;
  width: 960px;
}

.submenu span {
  font-weight: bold;
  font-size: 1.10rem;
}

.submenu a {
  display: block;
  padding: .5rem .5rem .5rem 0;
}



/****************************************
          ACCORDION
****************************************/

.accordion-header {
  background: whitesmoke;
  border: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 1rem;
}

.accordion-header h3 {
  margin: 0;
}

.accordion-header span {
  font-size: .85rem;
  font-weight: normal;
  margin-top: 3px;
}

.accordion-header:hover {
  cursor: pointer;
}

.accordion-body {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-top: 0;
  display: none;
  padding: 1rem;
}

.custom-accordion section:last-child .accordion-body {
  border-bottom: 1px solid #ddd;
}