/**********************************************************
    
                  Base Styles

**********************************************************/

* {
  border-collapse: collapse;
  box-sizing: border-box;
  font-family: "Source Sans Pro",Arial,Helvetica,sans-serif;
}

a,
a:focus,
a:visited {
  color: #333;
}

body>header {
  background-color: #333;
  height: 50px;
  left: 0;
  line-height: 50px;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 10000;
}

body>header>div,
body>nav>div,
main,
.ankle>div,
.con-header-link { 
  margin: 0 auto;
  max-width: 1170px;
  padding: 0 15px;
}

body>header>div h2 {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 1.5em;
  font-weight: 300;
  color: #fff;
  margin: 0;
  vertical-align: middle;
}

body>header>div h2 strong {
  color: #fff;
}

footer {
  background-color: #000; 
  border-top: 1px solid #aaa;
  height: 138px;
  width: 100%;
}

h1 {
  font-weight: 700;
}

html {
  overflow-y: scroll; 
}

main {
  color: #333;
  min-height: 500px;
}

main>* {
  margin-bottom: 2rem;
}

main>*:last-child {
  margin-bottom: 0;
}

strong {
  font-weight: 700;
}

.breadcrumb {
  margin: 20px auto;
  max-width: 1170px;
  padding: 0 15px;
}

.breadcrumb li {
  list-style-type: none;
  display: inline;
}

.breadcrumb ul {
  margin: 0;
  padding: 0;
}

.faux-link {
  cursor: pointer;
  text-decoration: underline;
}

.hero-image {
  height: auto;
  width: 100%;
}

.logo-wrapper {
  float: left;
}

.logo-wrapper img {
  margin-right: 6px;
  max-width: 30px;
  vertical-align: middle;
}

.con-header-link {
  margin: 0 auto;
  max-width: 1170px;
}

.con-header-link h2{
  font-size: 30px;
  margin: 75px 0 25px 0;
  font-weight: bold;
}

.con-header-link a,
.con-header-link a:visited {
  color: #333;
}

.con-header-link a,
.con-header-link a:hover{
  text-decoration: none;
}

.red {
  color: red;
  font-size: 1.15rem;
}

.show-large {
  display: none;
}

.yellow {
  background: yellow;
}



/**********************************************************
    
                      Main Nav

**********************************************************/

nav {
  width: 100%;
  background: #eee;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  color: #333;
}

nav:after {
  clear: both;
  content: '';
  display: block;
}

nav a {
  border-left: 1px solid #ccc;
  display: inline-block;
  float: left;
  padding: 15px;
}

nav a,
nav a:visited,
nav a:hover {
  color: #333;
  text-decoration: none;
}

nav a:hover,
nav li.active a {
  background-color: #ccc;
  cursor: pointer;
}

nav li {
  display: inline;
  list-style-type: none;
}

nav li:last-child a {
  border-right: 1px solid #ccc;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav .submenu-trigger {
  position: relative;
}

nav .submenu {
  background: #eee;
  border: 1px solid #ccc;
  border-top: 0;
  display: none;
  min-width: 180px;
  position: absolute;
  right: 0; 
  text-align: center;
  top: 49px;
  z-index: 1000;
}

nav .submenu li a {
  border-bottom: 1px solid #ccc;
  border-left: 0;
  border-right: 0;
  width: 100%;
}

nav .submenu li {
  display: table-row;
}

nav .submenu-trigger.toggled .submenu {
  display: table;
}

nav .submenu-trigger a>span {
  font-size: 14px;
  margin-left: 5px;
}

nav .submenu-trigger.toggled a>span {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}



/**********************************************************
    
                  CON Footer Nav

**********************************************************/

.ankle {
  background-color: #222;
  border-top: 1px solid #cfb87c;
  display: none;
  margin-top: 30px;
  padding: 30px 0;
}

.ankle * {
  color: white;
}

.ankle *.yellow,
.ankle *.yellow a {
  color: #333;
}

.ankle a {
  text-decoration: none;  
}

.ankle a:focus,
.ankle a:visited {
  color: #fff;
}

.ankle a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.ankle>div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.ankle>div>div {
  width: 22.5%;
}

.ankle li {
  margin-bottom: 10px;
}

.ankle li {
  list-style-type: none;
}

.ankle div>a {
  display: block;
  font-weight: bold;
  margin-bottom: 20px;
}

.ankle ul {
  margin: 0;
  padding: 0;
}



/**********************************************************
    
                  Accordion

**********************************************************/

.accordion-header {
  background: whitesmoke;
  border: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 1rem;
}

.accordion-header * {
  margin: 0;
}

.accordion-header span {
  font-weight: normal;
  margin-top: 3px;
}

.accordion-header:hover {
  cursor: pointer;
}

.accordion-body {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-top: 0;
  display: none;
  padding: 1rem;
}



/**********************************************************
    
                  Flexbox Styles

**********************************************************/

.align-self-end {
  align-self: flex-end;
}

.around {
  justify-content: space-around !important;
}

.between {
  justify-content: space-between !important;
}

.evenly {
  justify-content: space-evenly;
}

.flex-container {
  display: block;
}

.flex-wrap-wrap {
  flex-wrap: wrap;
}



/**********************************************************
    
              Custom Margins and Padding

**********************************************************/

/******************** Margins ********************/

.margin-bottom-large {
  margin-bottom: 5rem;
}

.margin-bottom-medium {
  margin-bottom: 3rem;
}

.margin-bottom-small {
  margin-bottom: 2rem;
}

.margin-bottom-x-small {
  margin-bottom: 1rem;
}

.margin-left-small {
  margin-left: 2rem;
}

.margin-left-x-small {
  margin-left: 1rem;
}

.margin-right-small {
  margin-right: 2rem;
}

.margin-right-x-small {
  margin-right: 1rem;
}

.margin-top-large {
  margin-top: 5rem;
}

.margin-top-medium {
  margin-top: 3rem;
}

.margin-top-small {
  margin-top: 2rem;
}

.margin-top-x-small {
  margin-top: 1rem;
}

.margin-vertical-large {
  margin-bottom: 5rem;
  margin-top: 5rem;
}

.margin-vertical-medium {
  margin-bottom: 3rem;
  margin-top: 3rem;
}

.margin-vertical-small {
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.no-margin {
  margin: 0;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.no-margin-horizontal {
  margin-left: 0;
  margin-right: 0;
}

.no-margin-left {
  margin-left: 0;
}

.no-margin-right {
  margin-right: 0;
}

.no-margin-top {
  margin-top: 0;
}

.no-margin-vertical {
  margin-top: 0;
  margin-bottom: 0;
}

/******************** Padding ********************/

.no-padding {
  padding: 0;
}

.no-padding-bottom {
  padding-bottom: 0;
}

.no-padding-horizontal {
  padding-left: 0;
  padding-right: 0;
}

.no-padding-left {
  padding-left: 0;
}

.no-padding-right {
  padding-right: 0;
}

.no-padding-top {
  padding-top: 0;
}

.no-padding-vertical {
  padding-top: 0;
  padding-bottom: 0;
}

.padding-bottom-large {
  margin-bottom: 5rem;
}

.padding-bottom-medium {
  margin-bottom: 3rem;
}

.padding-bottom-small {
  margin-bottom: 2rem;
}

.padding-bottom-x-small {
  margin-bottom: 1rem;
}

.padding-left-small {
  margin-left: 2rem;
}

.padding-left-x-small {
  margin-left: 1rem;
}

.padding-right-small {
  margin-right: 2rem;
}

.padding-right-x-small {
  margin-right: 1rem;
}

.padding-small {
  padding: 2rem;
}

.padding-top-large {
  margin-top: 5rem;
}

.padding-top-medium {
  margin-top: 3rem;
}

.padding-top-small {
  margin-top: 2rem;
}

.padding-top-x-small {
  margin-top: 1rem;
}

.padding-vertical-large {
  margin-bottom: 5rem;
  margin-top: 5rem;
}

.padding-vertical-medium {
  margin-bottom: 3rem;
  margin-top: 3rem;
}

.padding-vertical-small {
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.padding-x-small {
  padding: 1rem;
}



/**********************************************************
    
                    Media Queries

**********************************************************/

/******************** Print Media Query ********************/
@media print {
  
  nav {
    display: none;
  }
  
}

@media (min-width: 700px) {
  .show-large {
    display: inline-block;
  }
  
  .ankle {
    display: block;
  }
}

@media (min-width: 992px) {
  
  .flex-container {
    display: flex;
  }
  
  /******************** Custom Widths ********************/

  .full-width {
    width: 100%;
  }

  .width-75 {
    width: 75%;
  }

  .width-70 {
    width: 70%;
  }

  .width-65 {
    width: 65%;
  }

  .width-60 {
    width: 60%;
  }

  .width-55 {
    width: 55%;
  }
  
  .width-50 {
    width: 50%;
  }

  .width-45 {
    width: 45%;
  }

  .width-40 {
    width: 40%;
  }

  .width-35 {
    width: 35%;
  }

  .width-30 {
    width: 30%;
  }

  .width-25 {
    width: 25%;
  }

  .width-20 {
    width: 20%;
  }

  .width-15 {
    width: 15%;
  }

  .width-10 {
    width: 10%;
  }

}