<div class="mobile-nav">
  <ul>
    <li data-ui-sref-active="active"><a data-ui-sref="programs">Programs</a></li>
    <li data-ui-sref-active="active"><a data-ui-sref="student-life">Student Life</a></li>
    <li class="submenu-trigger" toggle-class="toggled"><a>More<span class="fa fa-chevron-right"></span></a>
      <ul class="submenu">
        <li data-ui-sref-active="active"><a data-ui-sref="clinics">Clinics</a></li>
        <li data-ui-sref-active="active"><a data-ui-sref="clinical-practice">Clinical Practice</a></li>
        <li data-ui-sref-active="active"><a data-ui-sref="faculty-research">Faculty &amp; Research</a></li>
        <li data-ui-sref-active="active"><a data-ui-sref="about">About</a></li>
      </ul>
    </li>
  </ul>
</div>