<header>
  <h1>
    <span data-ng-if="chosenPathway">{{ chosenPathway.name }}</span>
    <span data-ng-if="!chosenPathway">Degree-Level Page</span>
  </h1>
  <p><strong>Elevator Pitch:</strong> Eget vulputate. Egestas odio Facilisis lacinia sociis etiam metus nullam risus dui ultricies nibh euismod eros montes pharetra, dis pharetra malesuada suscipit.</p>
  <p>Maecenas diam gravida quisque risus elementum placerat nascetur Phasellus mattis nisl dapibus dictum sollicitudin blandit. Tellus convallis imperdiet suspendisse nulla libero justo iaculis. Lectus Fusce erat vestibulum cum.</p>
</header>


<section>
  <h2>FAQs</h2>
</section>

<section>
  <h2>Estimated Costs</h2>
</section>

<section>
  <h2>Upcoming Info Sessions</h2>
</section>

<section>
  <h2>Imporant Dates</h2>
</section>

<section>
  <h2>Program Video</h2>
</section>

<section>
  <h2>Faculty (Grad-Level Degrees Only)</h2>
</section>

<section>
  <h2>Careers</h2>
</section>

<section>
  <h2>Admission Requirements</h2>
</section>

<section>
  <h2>Contact Admissions</h2>
</section>

<section>
  <h2>Begin Your Application</h2>
</section>

<section>
  <h2>Scholarships and Aid</h2>
</section>