<h1>Nursing Degrees and Programs</h1>
<p>This page will have some sort of card layout but may not be interactive or filterable. Just a listing of main degree/ed categories with links to the degree listing page. This page is the category listing page, the next page is the sub-category listing page, the page after is the product listing page.</p>
<section>
  <h2>Sub-Pages</h2>
  <ul>
    <li><a data-ui-sref="degrees" data-ng-click="setDegree('bs')">Bachelors Programs</a></li>
    <li><a data-ui-sref="degrees" data-ng-click="setDegree('ms')">Masters Programs</a></li>
    <li><a data-ui-sref="degrees" data-ng-click="setDegree('dnp')">Doctor of Nursing Practice Programs</a></li>
    <li><a data-ui-sref="degrees" data-ng-click="setDegree('phd')">PhD Programs</a></li>
    <li><a data-ui-sref="degrees" data-ng-click="setDegree('cert')">Professional Development &amp; Certificates</a></li>
    <li><a data-ui-sref="global-health">Global Health Nursing Programs</a></li>
  </ul>
</section>