<h1>Nursing Degrees and Programs</h1>
<section>
  <h2>Sub-Pages</h2>
  <ul>
    <li><a data-ui-sref="degrees" data-ng-click="setDegree('bs')">Bachelors Programs</a></li>
    <li><a data-ui-sref="degrees" data-ng-click="setDegree('ms')">Masters Programs</a></li>
    <li><a data-ui-sref="degrees" data-ng-click="setDegree('dnp')">Doctor of Nursing Practice Programs</a></li>
    <li><a data-ui-sref="degrees" data-ng-click="setDegree('phd')">PhD Programs</a></li>
    <li><a data-ui-sref="degrees" data-ng-click="setDegree('cert')">Professional Development &amp; Certificates</a></li>
    <li>Global Health Nursing Programs</li>
  </ul>
</section>