<div class="ankle">
  <div>

    <div>
      <a data-ui-sref="student-resources">Student Resources</a>
      <ul>
        <li><a>Register for Classes</a></li>
        <li><a>Course Catalog</a></li>
        <li><a>Contact an Advisor</a></li>
        <li><a>Student Services</a></li>
        <li><a>Student Organizations</a></li>
        <li><a>Policies and Handbooks</a></li>
        <li><a>Student Events</a></li>
        <li><a>Student Digest</a></li>
        <li><a>Preparing for Graduation</a></li>
        <li><a>Student Job Opportunities</a></li>
      </ul>
    </div>

    <div>
      <a data-ui-sref="faculty-staff">Faculty and Staff Resources</a>
      <ul>
        <li><a>Intranet</a></li>
        <li><a>Human Resources</a></li>
        <li><a>Jobs@CU</a></li>
        <li><a>Academic Calendar</a></li>
        <li><a>University Policies</a></li>
      </ul>
    </div>

    <div>
      <a data-ui-sref="alumni-resources">Alumni</a>
      <ul>
        <li><a>Alumni Beneifts</a></li>
        <li><a>Order Transcripts</a></li>
        <li><a>Update Your Information</a></li>
        <li><a>Alumni Events</a></li>
        <li><a>Continuing Nursing Education</a></li>
        <li><a>Giving to the College</a></li>
      </ul>
    </div>
  </div>

</div>