<header class="width-30 profile-header">
  <h1>{{ teacher.firstName }} {{ teacher.lastName }}</h1>
  <figure>
    <img alt="{{ teacher.firstName }} {{ teacher.lastName }} Headshot" src="{{ teacher.headshot }}">
    <figcaption>
      <span>{{ teacher.firstName }} {{ teacher.lastName }}, {{ teacher.degrees }}</span>
      <em>{{ teacher.title }}</em>
      <span><a href="mailto:{{ teacher.email }}">{{ teacher.email }}</a></span>
      <span data-ng-if="teacher.phone"><a href="tel:{{ teacher.phone }}">{{ teacher.phone }}</a></span>
    </figcaption>
  </figure>
</header>
    
<div class="custom-accordion" data-toggle-speed="fast" data-toggle-easing="linear" data-slide-up-speed="fast" data-slide-up-easing="linear">
  
  <section>
    <h2>Bio</h2>
    <p data-ng-repeat="bio in teacher.bio">{{ bio }}</p>
  </section>

  <section data-ng-show="teacher.awards">
    <h2 class="accordion-header">Honors/Awards</h2>
    <div class="accordion-body">
      <table>
        <thead>
          <tr>
            <th scope="col" class="width-50">Award</th>
            <th scope="col" class="width-35">Organization</th>
            <th scope="col">Year</th>
          </tr>
        </thead>
        <tbody>
          <tr data-ng-repeat="award in teacher.awards | orderBy:date">
            <td>{{ award.name }}</td>
            <td>{{ award.organization }}</td>
            <td>{{ award.year.join(", ")}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
  
  <section data-ng-show="teacher.practice">
    <h2 class="accordion-header">Practice</h2>
    <div class="accordion-body">
      <ul>
        <li data-ng-repeat="item in teacher.practice">{{ item }}</li>
      </ul>
    </div>
  </section>
  
  <section data-ng-show="teacher.research">
    <h2 class="accordion-header">Research</h2>
    <div class="accordion-body">
      <ul>
        <li data-ng-repeat="project in teacher.research">{{ project.name }}, {{ project.year }}</li>
      </ul>
    </div>
  </section>
  
  <section data-ng-show="teacher.publications">
    <h2 class="accordion-header">Publications</h2>
    <div class="accordion-body">
      <ul>
        <li data-ng-repeat="article in teacher.publications">{{ article }}</li>
      </ul>
    </div>
  </section>
  
  <section data-ng-show="teacher.education">
    <h2 class="accordion-header">Education</h2>
    <div class="accordion-body">
      <table>
        <thead>
          <tr>
            <th scope="col">Degree</th>
            <th scope="col">Institution</th>
            <th scope="col">Field</th>
            <th scope="col">Awarded</th>
          </tr>
        </thead>
        <tbody>
          <tr data-ng-repeat="entry in teacher.education | orderBy:date">
            <td>{{ entry.degree }}</td>
            <td>{{ entry.institution }}</td>
            <td>{{ entry.field }}</td>
            <td>{{ entry.date }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>

</div>