<header>
  <h1>Faculty Directory</h1>
  <p>Some method of displaying a sortable and searchable list of all faculty with a link to individual faculty pages</p>
</header>

<div data-ng-repeat="person in allFaculty">
  <img src="{{ person.headshot }}" alt="">
  <div>
    <a data-ui-sref="faculty-profile" data-ng-click="setTeacher(person)">{{ person.firstName }} {{ person.lastName }}, {{ person.degrees }}</a>
    <span>{{ person.title }}</span>
  </div>
  <div>
    <span data-ng-if="person.phone">{{ person.phone }}</span>
    <span><a href="mailto:{{person.email}}">{{ person.email }}</a></span>
  </div>
</div>