<div>
  <h1>Main Academics Page</h1>
  <p>This page should have a way to narrow down degree fields. Start with the selecct dropdown from the existing site or copy what UCDenver has.</p>  

  <section class="dynamic-container">
    <h2>Explore Available Degrees</h2>
    
    <div>
      <label class="button">Undergraduate Programs
        <input type="radio" name="degreeLevel" value="Undergraduate Programs" data-ng-model="programLevel">
      </label>
      <label class="button">Graduate Programs
        <input type="radio" name="degreeLevel" value="Graduate Programs" data-ng-model="programLevel">
      </label>
      <label class="button">Graduate Specialties
        <input type="radio" name="degreeLevel" value="Graduate Specialties" data-ng-model="programLevel">
      </label>
      <label class="button">Additional Specialties
        <input type="radio" name="degreeLevel" value="Additional Specialties" data-ng-model="programLevel">
      </label>
      <label class="button">All Programs
        <input type="radio" name="degreeLevel" value="" data-ng-model="programLevel">
      </label>
    </div>

    <section data-ng-if="!programLevel && pageloadView === 'all'">
      <h3>All Available Programs</h3>
      <div class="program-cards">
        <a data-ng-repeat="program in programs" data-ui-sref="{{ program.url }}">
          <p><strong> {{ program.name }} </strong></p>
          <p>Brief course decription</p>
        </a>
      </div>
      
    </section>
    
    <section data-ng-if="programLevel">
      <h3><span data-ng-if="programLevel !== 'Additional Programs' ">Available </span>{{ programLevel }}</h3>
      <div class="program-cards" >
        <a data-ng-repeat="program in programs" data-ui-sref="{{ program.url }}" data-ng-if="program.level === programLevel">
          <p><strong> {{ program.name }} </strong></p>
          <p>Brief course decription</p>
        </a>
      </div>
    </section>
    
  </section>
  
  <section class="dynamic-container">
    
    <h2>Choose Based on Current Education Level</h2>
    
    <div>
      <label for="resourcesFor">Current level of education:</label><br>
      <select  id="resourcesFor" data-ng-model="currentEdLevel" data-ng-change="edLevelSort()" data-ng-init="currentEdLevel = '0'">
        <option value="0" disabled>-- Select Education Level --</option>
        <option value="1">High school diploma</option>
        <option value="2">RN (ADN) license</option>
        <option value="3">Associate degee or some college</option>
        <option value="4">BS in Nursing with RN license</option>
        <option value="5">BS or BA, not in nursing</option>
        <option value="6">MS degree in Nursing</option>
      </select>
    </div>
    
    <section>
      <h3>Available Degree Paths</h3>
    </section>
    
  </section>
  
  <div class="next-steps">
    <ul>
      <li><a href="">Apply Now</a></li>
      <li><a href="">See Deadlines</a></li>
      <li><a href="">Understand Tuition</a></li>
      <li><a href="">Find Scholarships</a></li>
      <li><a href="">Contact Us</a></li>
    </ul>
  </div>
  
</div>
