<header>
  <h1>Main Academics Page</h1>
  <p>This page should have a way to narrow down degree fields. Start with the selecct dropdown from the existing site or copy what UCDenver has.</p> 
</header>

<section class="dynamic-container">
  <h2>Explore Programs and Specialties</h2>

  <div class="center">

    <label class="button" data-ng-class="programLevel == 'all' ? 'gold-background' : 'white-background' ">All Programs
      <input type="radio" name="degreeLevel" value="all" data-ng-model="programLevel" data-ng-change="programSort('all')">
    </label>    
    <label class="button" data-ng-class="programLevel == 'undergraduate' ? 'gold-background' : 'white-background' ">Undergraduate Programs
      <input type="radio" name="degreeLevel" value="undergraduate" data-ng-model="programLevel" data-ng-change="programSort('undergraduate')">
    </label>
    <label class="button" data-ng-class="programLevel == 'graduate' ? 'gold-background' : 'white-background' ">Graduate Programs
      <input type="radio" name="degreeLevel" value="graduate" data-ng-model="programLevel" data-ng-change="programSort('graduate')">
    </label>
    <label class="button" data-ng-class="programLevel == 'specialties' ? 'gold-background' : 'white-background' ">Graduate Specialties
      <input type="radio" name="degreeLevel" value="specialties" data-ng-model="programLevel" data-ng-change="programSort('specialties')">
    </label>
    <label class="button" data-ng-class="programLevel == 'additional' ? 'gold-background' : 'white-background' ">Additional Programs
      <input type="radio" name="degreeLevel" value="additional" data-ng-model="programLevel" data-ng-change="programSort('additional')">
    </label>

  </div>

  <section>
    <h3>Choose Your Area of Interest</h3>
    <div class="program-cards">
      
      <div data-ng-repeat="program in programs" data-ng-if="programLevel === 'all'">
        <span class="toggle-target card-directive">{{ program.name }}</span>
        <div class="toggle-content">
          <p>Commodo, eleifend neque tempor. Mattis cras cubilia accumsan litora, iaculis Sodales vestibulum sit taciti odio, est elementum convallis quisque sollicitudin sociosqu bibendum cursus.</p>
          <a data-ui-sref="{{ program.url }}" data-ng-click="setProgramChoice(program)">Visit Program Page</a>
        </div>
      </div>
      
      <div data-ng-repeat="program in sortedPrograms" data-ng-if="programLevel !== 'all'">
        <span class="toggle-target card-directive">{{ program.name }}</span>
        <div class="toggle-content">
          <p>Commodo, eleifend neque tempor. Mattis cras cubilia accumsan litora, iaculis Sodales vestibulum sit taciti odio, est elementum convallis quisque sollicitudin sociosqu bibendum cursus.</p>
          <a data-ui-sref="{{ program.url }}" data-ng-click="setProgramChoice(program)">Visit Program Page</a>
        </div>
      </div>
      
    </div>
  </section>

</section>

<program-next-steps></program-next-steps>
