<program-header></program-header>

<div class="custom-accordion" data-toggle-speed="fast" data-toggle-easing="linear" data-slide-up-speed="fast" data-slide-up-easing="linear">
  
  <h2>Available Specialty Options</h2>
  
  <ul>
    <li data-ng-repeat="program in programs | orderBy:'name'" data-ng-if="program.level === 'specialties'">
      <program-link></program-link>
    </li>
  </ul>
  
</div>

<program-outcomes></program-outcomes>

<tuition></tuition>

<faqs></faqs>

<program-next-steps></program-next-steps>