<header>
  <h1>College of Nursing Program Finder</h1>
  <p>Use eCommerce-style faceted search to help potential students find the right program. Check out <a href="https://www.pce.uw.edu/program-finder" target="_blank">University of Washington Program Finder</a> for inspiration.</p> 
</header>

<div class="flex-container between">

  <section class="width-20">
    <h2 class="no-margin-top">Filters</h2>
    
    <section>
      <h3>Program Type</h3>
        <label for="{{ type }}" data-ng-repeat="type in typeGroup | orderBy:type">
          <input id="{{ type }}" type="checkbox" data-ng-model="useType[type]">
          <span data-ng-if="type !== 'development'">{{ type | capitalize}}</span>
          <span data-ng-if="type === 'development'">Professional Development</span>
          <span>({{ (filteredPrograms | filter:count('type', type)).length }})</span>
        </label>
    </section>

    <section class="margin-vertical-small">
      <h3>Format</h3>
      <label data-ng-repeat="format in formatGroup | orderBy:format">
        <input type="checkbox" data-ng-model="useFormat[format]">{{ format | capitalize }}
        <span>({{ (filteredPrograms | filter:count('format', format)).length }})</span>
      </label>
    </section>
    
    <section>
      <h3>Patient Population</h3>
    </section>

  </section>   
  
  <div class="program-cards width-75 flex-container between flex-wrap-wrap">
    
    <div class="width-45 margin-bottom-small" data-ng-repeat="program in filteredPrograms">
      <span data-ng-if="program.type !== 'development'">{{ program.type | capitalize }}</span>
      <span data-ng-if="program.type === 'development'">Professional Development</span>
      <a data-ui-sref="{{ program.url }}">{{ program.name }}</a>
      <div>
        <ul>
          <li>Application Period:</li>
          <li>Next Start Date:</li>
          <li>Duration:</li>
          <li>Learning Format: {{ program.format | capitalize }}</li>
          <li data-ng-if="program.level === 'specialties'">Degree Track: MS, BS-DNP, BS-PhD</li>
        </ul>
      </div>
    </div>
      
  </div>
  
  
</div>

<program-next-steps></program-next-steps>