<div>
  <header>
    <h1>
      <span data-ng-if="specialtyChoice"> {{ specialtyChoice.name}} </span>
      <span data-ng-if="!specialtyChoice">Graduate Specialty</span> 
      Landing Page
    </h1>
    <h2>Program Description</h2>
    <p>Use this page, and possible sub-pages, to describe the specialty. Don't mention any coursework, but talk about the specialty field and link to available graduate degrees for this specialty. Also provide information on possible jobs, a program video and some Alumni snapshots</p>
  </header>
  
  <section>
    <h2>Program Video</h2>
    <p>Include a video introduction to the program.</p>
  </section>
  
  <section>
    <h2>Available Graduate Programs</h2>
    <p>A linked list of graduate degrees that you can attain within this specialty. You must select a specialty to attain one of these degrees.</p>
    <ul>
      <li><a data-ui-sref="grad-landing-page">Masters Degree</a></li>
      <li><a data-ui-sref="grad-landing-page">BS-DNP Degree</a></li>
      <li><a data-ui-sref="grad-landing-page">BS-PhD Program</a></li>
    </ul>
  </section>
  
  <section class="careers">
    <h2>Career Possibilities</h2>
    <p>This section should list a handful of possible careers one can achieve with the degree offered. Don't say something to the effect of 'With this degree there are a variety of different carreers you can have'. Give an actual list of job titles. Don't leave it open-ended and rhetorical.</p>
    <div>
      <ul>
        <li>Career 1</li>
        <li>Career 2</li>
        <li>Career 3</li>
        <li>Career 4</li>
      </ul>
      <ul>
        <li>Career 5</li>
        <li>Career 6</li>
        <li>Career 7</li>
        <li>Career 8</li>
      </ul>
    </div>
  </section>
  
  <section class="alumni-snapshot">
    <h2>Alumni Snapshot</h2>
    <div>
      <img src="/images/woman-headshot-silhouette.png" alt="">
      <p>
        <strong>Person's Name</strong><br>
        Grauation Date<br>
        <em>Current Job Title and Employer</em>        
      </p>
      <p>Give an excerpt or brief summary of this person's current job experience and/or their thoughts on CON as a whole. If this were an eCommerce site, this is the place for customer feedback. This person has a degree in this field from the CON and we have an alumni profile page on them. Use that info to create this content and also provide link to that writeup.</p>
      <a href="">Read More About <em>This Person</em></a>
    </div>
  </section>
  
  <section class="next-steps">
    <h2>Next Steps</h2>
    <p>In this section, give user places to go next with calls to action and links to the appropriate pages on the site.</p>
    <ul>
      <li><a href="">Apply Now</a></li>
      <li><a href="">Visit Admissions</a></li>
      <li><a href="">Understand Tuition</a></li>
      <li><a href="">Find Scholarships</a></li>
      <li><a href="">See Deadlines</a></li>
      <li><a href="">Contact Us</a></li>
    </ul>
  </section>
  
</div>