<header>
  <h1><span data-ng-if="programChoice">{{ programChoice.name }}</span><span data-ng-if="!programChoice.name">Graduate Specialty</span> Page (Specialty Template)</h1>
  <h2>Program Description</h2>
  <p>Use this page, and possible sub-pages, to describe the specialty. Don't mention any coursework, but talk about the specialty field and link to available graduate degrees for this specialty. Also provide information on possible jobs, a program video and some Alumni snapshots</p>
</header>

<program-body></program-body>

<section class="next-steps">
  <h2>Additional Information</h2>
  <ul>
    <li><a href="">Understand Tuition</a></li>
    <li><a href="">Find Scholarships</a></li>
    <li><a href="">See Deadlines</a></li>
    <li><a href="">Contact Us</a></li>
  </ul>
</section>