<div class="flex-container between flex-wrap-reverse">

  <aside class="width-25 reuseable margin-top-small align-self-end padding-x-small">
    
    <section>
      <h2>Estimated Costs</h2>
    </section>
    
    <section>
      <h2>Upcoming Info Sessions</h2>
    </section>
    
    <section>
      <h2>Contact Admissions</h2>
    </section>

    <section>
      <h2>Begin Your Application</h2>
      <div class="center" data-ng-if="appOpen">
        <button>Apply Now*</button>
        <p>*Applications submitted through the NursingCAS application portal.</p>
      </div>
      
      <p data-ng-if="!appOpen"><strong>Application Closed.</strong> Create a <a href="https://nursingcas.liaisoncas.com/applicant-ux/#/login" target="_blank">NursingCAS</a> account so you are ready when the application is available.</p>
      
    </section>

    <section>
      <h2>Scholarships and Aid</h2>
    </section>
    
    <section data-ng-if="chosenDegree.key === 'bs'">
      <h2>Nursing BS Honors Program</h2>
    </section>
    
    <section data-ng-if="degreeDates">
      <h2>Important Dates</h2>
      <ul>
        <li>
          <strong>Application Open</strong><br>
          {{ degreeDates.open }}
        </li>
        <li>
          <strong>Application Close</strong><br>
          {{ degreeDates.close }}
        </li>
        <li>
          <strong>Interview</strong><br>
          {{ degreeDates.interview }}
        </li>
        <li>
          <strong>Decision</strong><br>
          {{ degreeDates.decision }}
        </li>
        <li>
          <strong>Program Start</strong><br>
          {{ degreeDates.start }}
        </li>
      </ul>
    </section>
    
  </aside>
  
  <article class="width-70">
    
    <header>
      <h1>
        <span data-ng-if="chosenPathway">{{ chosenPathway.name }}</span>
        <span data-ng-if="!chosenPathway">Degree-Level Page</span>
      </h1>
      <p><strong>Elevator Pitch:</strong> Eget vulputate. Egestas odio Facilisis lacinia sociis etiam metus nullam risus dui ultricies nibh euismod eros montes pharetra, dis pharetra malesuada suscipit.</p>
      <p>Maecenas diam gravida quisque risus elementum placerat nascetur Phasellus mattis nisl dapibus dictum sollicitudin blandit. Tellus convallis imperdiet suspendisse nulla libero justo iaculis. Lectus Fusce erat vestibulum cum.</p>
    </header>
    
    <div class="yellow" data-ng-if="chosenDegree.key === 'phd'">
      <section>
        <h2>PhD Research Areas</h2>
        <p>Students pursuing a Nursing PhD Degree choose between one of the three following areas of focus.</p>
        <ul>
          <li><a class="faux-link">Health Care Systems Research</a></li>
          <li><a class="faux-link">Caring Science</a></li>
          <li><a class="faux-link">Biobehavioral Sciences</a></li>
        </ul>
      </section>
      
      <section>
        <h2>PhD Pathways</h2>
        <p class="red">This information is probably better as a filter option</p>
        <p>The College of Nursing has three major pathways to the PhD. Applicants may enter the PhD program with either a bachelor's in nursing or master's in nursing.</p>
        <ul>
          <li>The <strong>post-bachelors BS-PhD pathway</strong> offers direct admission to the PhD program for applicants who already hold a bachelors degree in nursing and have completed the GRE. Coursework is individualized for each student. Email <a href="mailto:CON.PhD@UCDenver.edu">CON.PhD@UCDenver.edu</a> to learn more about this option.</li>
          <li>The <strong>post-bachelors MS-PhD pathway</strong> offers a 30-credit MS degree (or an advanced practice specialty) leading into PhD coursework and research. Both degrees are awarded. For more information, visit the <a>MS-PhD program</a> page for application and program specifics.</li>
          <li>The <strong>post-masters PhD pathway</strong> is designed for applicants who alreday hold a masters degree in nursing. Two to three years of post-master’s doctoral course work leads to the PhD dissertation and PhD degree. Applicants with a master's in nursing should follow all PhD program <a>requirements for admission</a>.</li>
        </ul>
      </section>
      
    </div>

    <section>
      <h2>Program Video</h2>
    </section>

    <section>
      <h2>Careers</h2>
    </section>

    <section data-ng-if="chosenDegree.key !== 'bs'">
      <h2>Faculty (Grad-Level Degrees Only)</h2>
    </section>
    
    <section class="reuseable">
      <h2>Admission Requirements</h2>
    </section>
    
    <section class="reuseable">
      <h2>Expected Degree Outcomes</h2>
      <ol>
        <li data-ng-repeat="outcome in chosenDegree.outcomes">{{ outcome }}</li>
      </ol>
    </section>
    
    <section class="reuseable" data-ng-if="chosenDegree.key !== 'bs'">
      <h2>Specialty Program Competencies</h2>
      <p class="red">Use accordions to combine program and specialty competencies on the same page.</p>
    </section>

    <section class="reuseable">
      <h2>FAQs</h2>
    </section>
    
  </article>

</div>











