<header>
  <h1>Interested in Applying?</h1>
  <p>Thank you for your interest in applying to the CU College of Nursing {{ chosenPathway.name }}.&nbsp;
    <span data-ng-if="chosenPathway.name">Unfortunately the application is currently closed. If you would like more information about the program, please fill out the form below.</span>
    <span data-ng-if="!chosenPathway.name">If you would like more information, please fill out the form below.</span>
  </p>
</header>

<section>
  <h2>Sitefinity or Embedded FormStack Form</h2>
  <p>Takes user info and provides auto-email response containing more info about the degree they're interested in.</p>
</section>
