<header>
  <h1>Interested in Applying?</h1>
  <p>Thank you for your interest in applying to the CU College of Nursing<span data-ng-if="chosenPathway">&nbsp;<a data-ui-sref="degree-page">{{ chosenPathway.name }}</a></span>.
    <span data-ng-if="!appOpen">&nbsp;Unfortunately the application is currently closed. If you would like more information about the program, please fill out the form below.</span>
    <span data-ng-if="appOpen">&nbsp;If you would like more information, please fill out the form below.</span>
  </p>
</header>

<section>
  <h2>Sitefinity or Embedded FormStack Form</h2>
  <p>Takes user info and provides auto-email response containing more info about the degree they're interested in.</p>
</section>