<header>
  <h1>Nursing Degrees and Programs</h1>
  <p>This is the product listing page and will have all available degrees/pathways/education options in a card layout with filters for faceted search.</p>
</header>

<section class="yellow">
  <h2>Additional Sub-Pages</h2>
  <p>The following pages should be available (either for linking or CCNE requirements) but not part of the filter.</p>
  <ul>
    <li>Link technical requirements page from each admissions requirements page/section</li>
    <li>SARA page is required to exist on our website.</li>
    <li>Add WICHE info to program content type and make available on subsequent degree pages. Separate WICHE page not necessary. Just exit links to the WICHE site and College Board.</li>
    <li>Link credit transfer page from admission requirements</li>
    <li>Link to NEXus page from coordinating program page</li>
  </ul>
</section>

<section class="flex-container between flex-wrap-wrap">
  
  <aside class="width-30">
    
    <section>
      <h2>Working Filter</h2>
      <label for="degreeChange">Choose Degree</label>

      <select id="degreeChange" data-ng-model="chosenDegree" data-ng-options="degree.name for degree in degreeKeys">
        <option value="" disabled>Choose Degree</option>
      </select>

      <input class="margin-top-small" type="button" value="Reset Filters" data-ng-click="resetFilters()">
    </section>
    
    <hr class="margin-vertical-medium">
    
    <section>
      <h2 class="yellow">Additional Filters to Build</h2>
      
      <div>
        <p><strong>Learning Format</strong></p>
        <label class="font-normal" for="classroom">
          <input type="radio" name="format" id="classroom" value="classroom">
          Classroom
        </label>
        <label class="font-normal" for="online">
          <input type="radio" name="format" id="online" value="online">
          Online
        </label>
        <label class="font-normal" for="hybrid">
          <input type="radio" name="format" id="hybrid" value="hybrid">
          Hybrid
        </label>
      </div>

      <div class="margin-vertical-small">
        <label for="specialty">Specialty</label>
        <select id="specialty">
          <option disabled selected>Specialty</option>
          <option data-ng-repeat="program in allPrograms | unique:'specialty'" data-ng-if="program.specialty">{{ program.specialty }}</option>
        </select>
      </div>
      
      <div>
        <label for="edLevel">Current Education Level</label>
        <select id="edLevel">
          <option disabled selected>Education Level</option>
          <option>High School Diploma</option>
          <option>RN (ADN) License</option>
          <option>Associate Degree</option>
          <option>Bachelors in Nursing</option>
          <option>Bachelors NOT in Nursing</option>
          <option>Masters in Nursing</option>
          <option>Masters NOT in Nursing</option>
        </select>
      </div>

    </section>
    
    
  </aside>
  
  <article class="width-65">
    
    <h2>
      <span data-ng-if="filteredPrograms.length > 0">{{ filteredPrograms.length }} {{ chosenDegree.name }}</span>
      <span data-ng-if="filteredPrograms.length === 0">{{ allPrograms.length }}</span>
      Options
    </h2>
    
    <p data-ng-if="filteredPrograms.length > 0">{{ chosenDegree.description }}</p>
    
    <ul>    
      <li data-ng-if="filteredPrograms.length > 0" data-ng-repeat="program in filteredPrograms">
        <span data-ng-switch on="program.name">
          <a data-ng-switch-when="Global Health Nursing" data-ui-sref="global-health">{{ program.name }}</a>
          <a data-ng-switch-default data-ui-sref="degree-page" data-ng-click="choosePathway(program)">{{ program.name }}</a>
        </span>
      </li>    
      <li data-ng-if="filteredPrograms.length === 0" data-ng-repeat="program in allPrograms">
        <span data-ng-switch on="program.name">
          <a data-ng-switch-when="Global Health Nursing" data-ui-sref="global-health" data-ng-click="choosePathway(program)">{{ program.name }}</a>
          <a data-ng-switch-default data-ui-sref="degree-page" data-ng-click="choosePathway(program)">{{ program.name }}</a>
        </span>
      </li>
    </ul>
    
  </article>

</section>