<header>
  <h1>Nursing Degrees and Programs</h1>
  <p>This is the product listing page and will have all available degrees/pathways/education options in a card layout with filters for faceted search.</p>
</header>

<section class="flex-container between flex-wrap-wrap">
  
  <aside class="width-25">
    
    <label for="degreeChange">Choose Degree</label>
    <select id="degreeChange" data-ng-model="chosenDegree" data-ng-options="degree.name for degree in degreeKeys">
      <option value="" disabled>Choose Degree</option>
    </select>

    <input class="margin-top-small" type="button" value="Reset Filters" data-ng-click="resetFilters()">
    
  </aside>
  
  <article class="width-65">
    
    <h2>
      <span data-ng-if="filteredPrograms.length > 0">{{ filteredPrograms.length }}</span>
      <span data-ng-if="filteredPrograms.length === 0">{{ allPrograms.length }}</span>
      Options
    </h2>
    
    <ul>    
      <li data-ng-if="filteredPrograms.length > 0" data-ng-repeat="program in filteredPrograms">
        <span data-ng-switch on="program.name">
          <a data-ng-switch-when="Global Health Nursing" data-ui-sref="global-health">{{ program.name }}</a>
          <a data-ng-switch-default data-ui-sref="degree-page" data-ng-click="choosePathway(program)">{{ program.name }}</a>
        </span>
      </li>    
      <li data-ng-if="filteredPrograms.length === 0" data-ng-repeat="program in allPrograms">
        <span data-ng-switch on="program.name">
          <a data-ng-switch-when="Global Health Nursing" data-ui-sref="global-health" data-ng-click="choosePathway(program)">{{ program.name }}</a>
          <a data-ng-switch-default data-ui-sref="degree-page" data-ng-click="choosePathway(program)">{{ program.name }}</a>
        </span>
      </li>
    </ul>
    
  </article>

</section>