<section data-ng-if="$state.current.name !== 'program-admissions' && $state.current.name !== 'specialty-required-admissions'">
  <h2>Admissions</h2>
  
  <ul data-ng-if="$state.current.name === 'default-program-page' || $state.current.name === 'post-grad-certificate'">
    <li><a data-ui-sref="program-admissions">Admission Requirements</a></li>
  </ul>
  
  <ul data-ng-if="$state.current.name === 'grad-specialty-req-page'">
    <li><a data-ui-sref="specialty-required-admissions">Admission Reqiurements</a></li> 
  </ul>
  
  <ul data-ng-if="$state.current.name === 'specialty-landing-page'">
    <li><a data-ui-sref="specialty-required-admissions">Masters Admission Reqiurements</a></li>  
    <li><a data-ui-sref="specialty-required-admissions">BS-DNP Admission Reqiurements</a></li>  
    <li><a data-ui-sref="specialty-required-admissions">BS-PhD Admission Reqiurements</a></li>  
    <li><a data-ui-sref="program-admissions">Graduate Certificate Admission Reqiurements</a></li>
    <li><a data-ui-sref="program-admissions">Post-Graduate Certificate Admission Reqiurements</a></li>
  </ul>
  
</section>