<div class="flex-container between">
  
  <section class="width-45">
    <h2>Career Possibilities</h2>
    <ul>
      <li>Career 1</li>
      <li>Career 2</li>
      <li>Career 3</li>
      <li>Career 4</li>
      <li>Career 5</li>
      <li>Career 6</li>
    </ul>
  </section>
  
  <section class="width-45">
    <h2>Placement Stats</h2>
    <p>Some sort of list or graphic showing how many students who graduate with this degree/emphasis are employed six months after graduating</p>
  </section>
</div>
