<div class="flex-container between">
  
  <div class="width-45">
    <section class="margin-bottom-small">
      <h2>Apply</h2>
      <p>Please address the program requirements within the open reponse field for purpose of registration.</p>
      <a class="button" href="https://forms.ucdenver.edu/secure/con_application_enrollment_request" target="_blank">Admissions Request Form</a>
      <p class="red">Remove apply button if enrollment date has passed</p>
    </section>
    <section>
      <h2>Contact</h2>
      <a href="mailto:CON.ExtendedStudies@ucdenver.edu">Contact Extended Studies Office</a>
    </section>
  </div>
  
  <section class="width-45">
    <h2>Tuition and Deadlines</h2>
    <table>
      <tr>
        <th scope="row">2016-2017 Tuition</th>
        <td>$635 per credit hour plus fees</td>
      </tr>
      <tr>
        <th scope="row">Enrollment Deadline</th>
        <td>
          August 7, 2017<br>
          <span class="red">'Deadline Passed'</span>
        </td>
      </tr>
      <tr>
        <th scope="row">Drop Deadline</th>
        <td>September 8, 2017</td>
      </tr>
      <tr>
        <th scope="row">Fall Term</th>
        <td>August 28 - December 16</td>
      </tr>
    </table>
  </section>
  
</div>