<header class="program-header">
  <h1>
    <span data-ng-if="$state.current.name === 'default-program-page'">Default Program Page</span>
    <span data-ng-if="$state.current.name === 'specialty-landing-page'">Specialty Landing Page</span>
    <span data-ng-if="$state.current.name === 'grad-specialty-req-page'">Graduate Program Page (MS, BS-DNP, BS-PhD)</span>
  </h1>
  <p>Semper vulputate sollicitudin posuere. Turpis semper feugiat diam volutpat quis nam metus nisl lacinia consectetuer dignissim proin quis viverra auctor, aliquam tincidunt mattis fermentum metus imperdiet tincidunt.</p>
  <p>Dui ut etiam vitae nascetur. Nonummy dictumst penatibus elit dictum platea rhoncus et cubilia non faucibus eget porttitor habitant accumsan erat pretium potenti.</p>
  <deadlines></deadlines>
  <apply-now></apply-now>
</header>