<div class="margin-vertical-large flex-container around">
  
  <section class="width-30" data-ng-if="$state.current.name === 'specialty-landing-page'">
    <h2>Available Degrees</h2>
    <ul>
      <li><a data-ui-sref="grad-landing-page">Masters Degree</a></li>
      <li><a data-ui-sref="grad-landing-page">BS-DNP Degree</a></li>
      <li><a data-ui-sref="grad-landing-page">BS-PhD Program</a></li>
    </ul>
  </section>
  
  <section data-ng-class="$state.current.name === 'specialty-landing-page' ? 'width-30' : 'width-45'">
    <h2>Plans of Study</h2>
  </section>
  
  <section data-ng-class="$state.current.name === 'specialty-landing-page' ? 'width-30' : 'width-45'">
    <h2>Admissions</h2>
  </section>

</div>