<div class="program-body">

  <program-plans></program-plans>
  
  <program-video></program-video>
  
  <why-cu></why-cu>
  
  <career-options></career-options>

  <alumni-snapshot></alumni-snapshot>

  <section>
    <h2>Program Faculty</h2>
    <ul class="red">
      <li>List of faculty who teach in this program</li>
      <li>Contact info for those faculty</li>
      <li>Dynamically pulled from directory</li>
    </ul>
  </section>
  
  <program-outcomes></program-outcomes>
  
  <tuition data-ng-if="selectedProgram"></tuition>
  
</div>
