<div>
  <h2>Expected Program Outcomes</h2>
  <p class="red">Required for CCNE On all Degree-specific Program Pages</p>
  <ul>
    <li><strong>Outcome 1</strong> - Nisi, sit suscipit leo hac eleifend quam aliquam feugiat. Consequat porttitor nam condimentum a suscipit placerat nostra montes morbi. Duis.</li>
    <li><strong>Outcome 2</strong> - Nisi, sit suscipit leo hac eleifend quam aliquam feugiat. Consequat porttitor nam condimentum a suscipit placerat nostra montes morbi. Duis.</li>
    <li><strong>Outcome 3</strong> - Nisi, sit suscipit leo hac eleifend quam aliquam feugiat. Consequat porttitor nam condimentum a suscipit placerat nostra montes morbi. Duis.</li>
    <li><strong>Outcome 4</strong> - Nisi, sit suscipit leo hac eleifend quam aliquam feugiat. Consequat porttitor nam condimentum a suscipit placerat nostra montes morbi. Duis.</li>
    <li><strong>Outcome 5</strong> - Nisi, sit suscipit leo hac eleifend quam aliquam feugiat. Consequat porttitor nam condimentum a suscipit placerat nostra montes morbi. Duis.</li>
  </ul>
</div>