<header>
  <h1>
    <span data-ng-if="$state.current.name === 'default-program-page'"> Default Program Page</span>
    <span data-ng-if="$state.current.name === 'specialty-landing-page'"> Specialty Landing Page</span>
  </h1>
  <h2>Program Description</h2>
  <p>Use this page, and possible sub-pages, to describe the specialty. Don't mention any coursework, but talk about the specialty field and link to available graduate degrees for this specialty. Also provide information on possible jobs, a program video and some Alumni snapshots</p>
</header>