<h1>CU College of Nursing Admissions</h1>

<section>
  <h2>Application Deadlines</h2>
  <p>Table or table-styled divs to display.</p>
  <p>CU Boulder Admissions pages for inspiration.</p>
</section>

<section>
  <h2>Program Admissions</h2>
  
  <section class="step-one">
    <h3>Step 1: Choose a Program</h3>
    
    <div class="admission-selector">
    
      <div>
        <label for="programLevel">Select Your Desired Program Type</label>
        <select id="programLevel" data-ng-model="programLevel" data-ng-options="program.level as (program.level | capitalize) for program in programs | unique:'level' | filter: {level: '!specialties'}" data-ng-change="getPrograms()">
          <option value="" disabled> -- Program Category -- </option>
        </select>
      </div>

      <div>
        <label for="program">Select Your Desired Program</label>
        <select id="program" data-ng-model="programChoice" data-ng-disabled="!programLevel" data-ng-options="program.name for program in programChoices" data-ng-change="showButtons()">
          <option value="" disabled> -- Program -- </option>
        </select>
      </div>

    </div>
  </section>
  
  <section class="step-two">
    <h3>Step 2: Fulfill Admission Requirements</h3>
    <p class="red">How-to-Apply pages not needed. That step is, click apply button and follow application directions.</p>
    <div class="flex-container around" data-ng-if="exposeButtons">
      <div>
        <a class="button" data-ui-sref="program-admissions">View Admission Requirements</a>
        <a class="button" data-ui-sref="{{ programChoice.url }}">Visit Program Page</a>
      </div>
      <div class="snapshot">
        <h4>Requirements Snapshot</h4>
        <ul>
          <li><strong>GPA:</strong> 
            <span data-ng-if="programChoice.gpa">{{ programChoice.gpa }}</span>
            <span data-ng-if="!programChoice.gpa">N/A</span>
          </li>
          <li><strong>Interview:</strong> 
            <span data-ng-if="programChoice.interview">{{ programChoice.interview }}</span>
            <span data-ng-if="!programChoice.interview">N/A</span>
          </li>
          <li><strong>Essay:</strong> 
            <span data-ng-if="programChoice.essay">{{ programChoice.essay }} Words</span>
            <span data-ng-if="!programChoice.essay">N/A</span>
          </li>
        </ul>
      </div>
      
    </div>
  </section>
  
  <section class="step-three">
    <h3>Step 3: Apply</h3>
    
    <div data-ng-if="programChoice">
      <a class="button" href="https://nursingcas.liaisoncas.com/applicant-ux/#/login" target="_blank">Apply through NursingCAS</a>
      <p>All applicants are required to pay a fee to both NursingCAS and the College of Nursing. The College of Nursing application fee is $50, paid through the application website. Visit the <a href="http://www.nursingcas.org/prepare-to-apply/fees/" target="_blank">NursingCAS fees page</a> to view additional costs.</p>
    </div>
    
  </section>

</section>

<section>
  <h2>Applied</h2>
  <p>What do you do after you've applied?</p>
  <p>Check application status</p>
  <p>Interview dates? Separate from deadlines?</p>
  <p>Accept application?</p>
</section>

<section>
  <h2>Accepted</h2>
  <p>Look for an email that contains important information on how to submit letter of intent and other stuff.</p>
</section>