<h1>CU College of Nursing Admissions</h1>

<section>
  <h2>Application Deadlines</h2>
  <p>Table or table-styled divs to display.</p>
  <p>CU Boulder Admissions pages for inspiration.</p>
</section>

<section>
  <h2>Program Admissions</h2>
  <p>Dynamically load admission requirements for each degree... reuse where we can.</p>
  <p>Two-step sorting, degree level then degree itself? Second selection takes you to the admissions page for that program.</p>
  
  <div class="admission-selector">
    
    <div>
      <label for="programLevel">Select Your Desired Program Type</label>
      <select id="programLevel" data-ng-model="programLevel" data-ng-options="program.level as (program.level | capitalize) for program in programs | unique:'level'" data-ng-change="getPrograms()">
        <option value="" disabled> -- Program Category -- </option>
      </select>
    </div>
    
    <div>
      <label for="program">Select Your Desired Program</label>
      <select id="program" data-ng-model="programChoice" data-ng-disabled="!programLevel" data-ng-options="program.name for program in programChoices">
        <option value="" disabled> -- Program -- </option>
      </select>
    </div>
  
  </div>

  <section>
    <h3>Program Admission Requirements</h3>
    <p>Program Level: {{ programLevel }}</p>
    <p>Program Choice: {{ programChoice }}</p>
  </section>
  
  <section>
    <h3>Apply</h3>
  </section>

</section>