<h1><span data-ng-if="programChoice">{{ programChoice.name }}</span><span data-ng-if="!programChoice">Program</span> Admissions Page</h1>
<p>Single admissions page for each program outlining requirements.</p>

  <p>Visit <a href="http://www.colorado.edu/admissions/selection" target="blank">CU Boulder</a> for inspiration.</p>

<section class="next-steps">
  <h2>Next Steps</h2>
  <p>In this section, give user places to go next with calls to action and links to the appropriate pages on the site.</p>
  <ul>
    <li><apply-now></apply-now></li>
    <li><a href="">Visit Program Page</a></li>
    <li><a href="">Understand Tuition</a></li>
    <li><a href="">Find Scholarships</a></li>
    <li><a href="">See Deadlines</a></li>
    <li><a href="">Contact Admissions</a></li>
  </ul>
</section>